body{
    background-color: #ecebeb;
}
.main-form{
    padding: 10px;
    margin-top: 10px
}
.list-form{
    padding: 15px;
}
.title{
    text-align: center;
    margin-top: 15px;
}
/*清單*/
.list-container{
    height: 80vh;
    overflow: auto;
}

/*語音控制*/
.controll-btn-container{
    text-align: center;
    position: fixed;
    bottom: 0px;
    z-index: 99;
    width: 100%;
    border-top: 1px solid #ccc;
    box-shadow: 0 6px 10px 5px #999;
    background-color: #1d1d1d;
    height: 20vh;
}
.record-img-btn{
    margin-right: 10px;
    border: 1px #999 solid;
    border-radius: 50px;
    box-shadow:3px 3px 3px #888888;
}

.cute-btn{
    border-radius: 55px;
}
.task-top-container{
    position: relative;
}
.task-request{
    display: inline-block;
    font-size:16px;
    font-weight: bold;
}
.task-total-container{
    display: inline-block;
    position: absolute;
    right: 0px;
}

.task-total-title{
    margin-right: 10px;
}
.task-total-content{
    font-size: 20px;
    color: #e44547;
}

.status-rectangle{
    box-sizing: border-box;
    padding: 5px 10px 20px;
    border-radius: 5px;
    width: 30%;
    margin-right: 10px;
}

.todo-container{
    background-color: #EE7E61;
}
.doing-container{
    background-color: #E44547;
}

.done-container{
    background-color: #A7383B;
}
.font-lg{
    font-size: 25px;
}

.task-status-tag{
    display: inline-block;
    box-sizing: border-box;
    padding: 1px 7px;
    border: 1px #333 solid;
    border-radius: 5px;
    margin-right: 5px;
    width: 50px;
}

.task-title{
    display: inline;
    color: #1d1d1d;

}

.task-list-item{
    cursor: pointer;
}

.task-status-container{
}


.display-line{
    display: inline-block;
}

.bottom-gutter-sm{
    margin-bottom: 5px;
}

.bottom-gutter-md{
    margin-bottom: 15px;
}

.bottom-gutter-lg{
    margin-bottom: 20px;
}

.text-center{
    text-align: center;
}
.text-white{
    color: white;
}

.todo-tag{
    border-color: #EE7E61;
    color:#EE7E61;
}
.doing-tag{
    border-color: #E44547;
    color:#E44547;
}

.done-tag{
    border-color: #A7383B;
    color:#A7383B;
}